
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="{:url('index/index')}">首页</a></li>
							<li><a href="{:url('index/product')}">产品介绍</a></li>
							<li><a href="{:url('index/download')}">下载APP</a></li>
							<li><a href="{:url('index/about')}">关于我们</a></li>
							<li><a href="{:url('index/contact')}">联系我们</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2017 Baibao.com
                    | Design: 百宝单车</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="__FRONT__/js/min/plugins.min.js"></script>
	<script src="__FRONT__/js/min/medigo-custom.min.js"></script>

</body>
</html>