{include file='public/header'/}
<!--<p style="width: 100%;height: 90px;"></p>-->
<div style="background-color: orange">
	<div>
		<img src="__FRONT__/images/includes/banner00.jpg" class="img-responsive" />
	</div>
</div>

	<section class="light-content our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<!-- <h2 class="section-title">百宝电单车</h2> -->
						<p class="section-desc">百宝电单车，致力于电动车短租赁的服务，是全球领先的分布移动分时出行平台。</p>
						<p class="section-desc">城市的发展入口和人口的集聚，使得城市的交通凸显出来。私家车数量的增多，造成的空气污染带来更多的环境问题；地铁、公交等公共交通在解决了城市整体出行问题同时，一定程度上也忽略甚至造成了人们在城市中短途出行的困扰。</p>
						<p class="section-desc">百宝电单车，针对城市人们面临的5公里以内短途出行难题，</p>
						<p class="section-desc">以创新的移动互联网思维，以经济的出行成本，高效的出行效率提升着人们的出行体验。人们通过手机端的操作，即可快速完成租车换车流程，过程简单，方便快捷。地铁站、商场、大型超市、小区和院校等，都是大家可享受我们提供的出行体验的主要场所。</p>
						<p class="section-desc" style="color: orange">我们，希望用我们的平台，用智能的短途出行再次改变城市出行方式和结构，为拥堵的城市交通带来新的效率。</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		<div class="team-members">
			<div class="container">
				<div class="row">

					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/image4.jpg"  class="img-responsive" alt="">
								<span class="member-role" style="background-color: #E2BF52;">快乐</span>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->
					
					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/image5.jpg"  class="img-responsive" alt="">
								<span class="member-role" style="background-color: #6FD069;">绿色</span>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->
					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/image6.jpg"  class="img-responsive" alt="">
								<span class="member-role" style="background-color: #678ED1;">健康</span>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->


				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.team-members -->
	</section> <!-- /.our-team -->

	{include file='public/footer'/}