{include file='public/header'/}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OXNV4vMzLxDWsKEuxUDjwnydIjxa0EQW"></script>
		<p style="width: 100%;height: 90px;"></p>
		<img src="../../../../public/static/front/images/includes/banner3.jpg" style="width: 100%;height: 500px;"/>
	<div class="container">	
		<div class="row">

			<div class="col-md-6 blog-posts">
				<div class="row">
                    <div class="col-md-10">
                        <div class="contact-form">
                            <h3>我们洗耳恭听，来自于您的每一个诉求</h3>
	                        <div class="widget-inner">
                            <form action="#" method="post" id="commentform">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label for="name">姓名:</label>
                                            <input type="text" name="name" id="name">
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label for="email">邮箱:</label>
                                             <input type="text" name="email" id="email">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <label for="message">留言内容:</label>
                                            <textarea name="message" id="message"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="mainBtn" >发送留言</button>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-md-12">
                                		<div id="result"></div>
                                	</div> 
                                </div> 
                            </form>
                          </div> 
                        </div> 
                    </div> 
                </div> 
			</div> 

			
			<div class="col-md-6">
				<div class="sidebar">
					
				<div style="width:100%;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>
				  </body>
				   <script type="text/javascript">
				    //创建和初始化地图函数：
				    function initMap(){
				      createMap();//创建地图
				      setMapEvent();//设置地图事件
				      addMapControl();//向地图添加控件
				      addMapOverlay();//向地图添加覆盖物
				    }
				    function createMap(){ 
				      map = new BMap.Map("map"); 
				      map.centerAndZoom(new BMap.Point(121.721636,31.398792),17);
				    }
				    function setMapEvent(){
				      map.enableScrollWheelZoom();
				      map.enableKeyboard();
				      map.enableDragging();
				      map.enableDoubleClickZoom()
				    }
				    function addClickHandler(target,window){
				      target.addEventListener("click",function(){
				        target.openInfoWindow(window);
				      });
				    }
				    function addMapOverlay(){
				      var markers = [
				        {content:"上海市崇明县长兴镇潘园公路1800号3号楼3348室（上海泰和经济发展区）",title:"上海金元宝网络科技有限公司",imageOffset: {width:0,height:-21},position:{lat:31.397944,lng:121.72072}},
				      ];
				      for(var index = 0; index < markers.length; index++ ){
				        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
				        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
				          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
				        })});
				        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
				        var opts = {
				          width: 200,
				          title: markers[index].title,
				          enableMessage: false
				        };
				        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
				        marker.setLabel(label);
				        addClickHandler(marker,infoWindow);
				        map.addOverlay(marker);
				      };
				      var labels = [
				      ];
				      for(var index = 0; index < labels.length; index++){
				        var opt = { position: new BMap.Point(labels[index].position.lng,labels[index].position.lat )};
				        var label = new BMap.Label(labels[index].content,opt);
				        map.addOverlay(label);
				      };
				    }
				    //向地图添加控件
				    function addMapControl(){
				      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
				      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
				      map.addControl(scaleControl);
				      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
				      map.addControl(navControl);
				      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
				      map.addControl(overviewControl);
				    }
				    var map;
				      initMap();
				  </script>
				</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->
				
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	{include file='public/footer'/}
	
<script type="text/javascript">
	$(document).ready(function(){
		$("#commentform").validate({
            submitHandler: function () {
                var data = $("#commentform").formToArray();
                $.ajax({
                    type: "POST",
                    url: "{:url('index/save')}",
                    data: data,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.status == "true") {
                           	alert(msg.message);
                            location.reload();
                        } else {
                           alert(msg.message);
                        }
                    }
                });
            }
		});
	});
</script>