{include file='public/header'/}
<!--<p style="width: 100%;height: 90px;"></p>-->
<!--	<img src="../../../../public/static/front/images/includes/banner.jpg" style="width: 100%;height: 500px;"/>-->

<!--<img src="http://localhost/baibao/public/static/front/images/includes/banner.jpg" style="width: 100%;height: 500px;"/>-->
		<div id="content">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
		<img src="__FRONT__/images/includes/banner.jpg"  class="img-responsive"/>
		</div>
	</div>
</div>



	<section class="light-content our-team">
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Meet our happy staff</h2>
						<p class="section-desc">Medigo is the automated way to keep track of what everyone is working on.</p>
					</div> 
				</div>
			</div> 
		</div>  -->
		<div class="team-members">
			<div class="container">





				<div class="row">
				<div class="col-xs-10 col-xs-offset-1">

					<!--<div class="   col-sm-5 col-sm-offset-1  col-md-6 col-md-offset-0">-->
					<div class="   col-sm-6  col-md-6 col-md-offset-0">
						<!--	<div class="col-md- col-sm-6">-->
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a11.png" alt="">
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->


					<!--	<div class=" col-xs-12   cd-sm-offset-2 col-sm-4  col-md-6">-->
					<!--<div class="     col-sm-5  col-sm-offset-0 col-md-6 col-md-offset-0" style="margin-bottom: 62px">-->
					<div class="   col-sm-6  col-md-6 col-md-offset-0">
						<!--<div class="col-md- col-sm-6">-->
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a2.png" alt="" style="margin-top:62px">
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->
				</div>
			</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">

						<!--<div class="   col-sm-5 col-sm-offset-1  col-md-6 col-md-offset-0">-->
							<div class="   col-sm-6  col-md-6 col-md-offset-0">
							<!--	<div class="col-md- col-sm-6">-->
							<div class="team-member">
								<div class="thumb-post">
									<img src="__FRONT__/images/includes/a3.png" alt="">
								</div>
							</div> <!-- /.team-member -->
						</div> <!-- /.col-md-4 -->


						<!--	<div class=" col-xs-12   cd-sm-offset-2 col-sm-4  col-md-6">-->
						<!--<div class="     col-sm-5  col-sm-offset-0 col-md-6 col-md-offset-0">-->
						<div class="   col-sm-6  col-md-6 col-md-offset-0">
							<!--<div class="col-md- col-sm-6">-->
							<div class="team-member">
								<div class="thumb-post">
									<img src="__FRONT__/images/includes/a4.png" alt="">
								</div>
							</div> <!-- /.team-member -->
						</div> <!-- /.col-md-4 -->
					</div>
				</div>
				<!--<div class="row">

					<div class="col-md- col-sm-6">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a3.png" alt="">
							</div>
						</div> &lt;!&ndash; /.team-member &ndash;&gt;
					</div> &lt;!&ndash; /.col-md-4 &ndash;&gt;
					
					<div class="col-md- col-sm-6">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a4.png" alt="">
							</div>
						</div>
					</div>
				</div>-->
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">

						<!--<div class="   col-sm-5 col-sm-offset-1  col-md-6 col-md-offset-0">-->
						<div class="   col-sm-6  col-md-6 col-md-offset-0">
							<!--	<div class="col-md- col-sm-6">-->
							<div class="team-member">
								<div class="thumb-post">
									<img src="__FRONT__/images/includes/a5.png" alt="">
								</div>
							</div> <!-- /.team-member -->
						</div> <!-- /.col-md-4 -->


						<!--	<div class=" col-xs-12   cd-sm-offset-2 col-sm-4  col-md-6">-->
						<!--<div class="     col-sm-5  col-sm-offset-0 col-md-6 col-md-offset-0">-->
						<div class="   col-sm-6  col-md-6 col-md-offset-0">
							<!--<div class="col-md- col-sm-6">-->
							<div class="team-member">
								<div class="thumb-post">
									<img src="__FRONT__/images/includes/a6.png" alt="">
								</div>
							</div> <!-- /.team-member -->
						</div> <!-- /.col-md-4 -->
					</div>
				</div>
				<!--<div class="row">

					<div class="col-md- col-sm-6">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a5.png" alt="">
							</div>
						</div> 
					</div> 
					
					<div class="col-md- col-sm-6">
						<div class="team-member">
							<div class="thumb-post">
								<img src="__FRONT__/images/includes/a6.png" alt="">
							</div>
						</div> 
					</div>
				</div>-->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		 <!-- /.team-members -->
	</section> <!-- /.our-team -->
	
	<img src="__FRONT__/images/includes/image3.jpg" style="width: 100%;margin-top: 100px;"/>

	{include file='public/footer'/}
</div>




