{include file='public/header'/}
<!--<p style="width: 100%;height: 90px;"></p>-->
<img src="http://localhost/baibao/public/static/front/images/includes/banner2.jpg" style="width: 100%;"/>

<section class="light-content our-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-header">
					<h2 class="section-title">匠心设计</h2>
					<!-- <p class="section-desc">Medigo is the automated way to keep track of what everyone is working on.</p> -->
				</div> <!-- /.section-header -->
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
	<div class="team-members">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/img1.png" alt="">
							<!-- <span class="member-role">预约用车</span> -->
						</div>
						<div class="member-content">
							<h4 class="member-name">更耀眼</h4>
							<p>时尚的造型，靓丽的配色 不拘一格，一眼认出</p>
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/img2.png" alt="">
							<!-- <span class="member-role">解锁用车</span> -->
						</div>
						<div class="member-content">
							<h4 class="member-name">更轻便</h4>
							<p>单车车架采用高强度，轻量化材料，骑行更轻松</p>
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->
				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/img3.png" alt="">
							<!-- <span class="member-role">结束用车r</span> -->
						</div>
						<div class="member-content">
							<h4 class="member-name">更自在</h4>
							<p>单车构造根据人体工程学进行设计，让骑行更自在 </p>
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/img4.png" alt="">
							<!-- <span class="member-role">保留用车</span> -->
						</div>
						<div class="member-content">
							<h4 class="member-name">更快速</h4>
							<p>采用先进的算法，开锁速度更快，真正随骑随走</p>
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.team-members -->
</section> <!-- /.our-team -->


<section class="light-content our-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-header">
					<h2 class="section-title">APP界面</h2>
					<!-- <p class="section-desc">Medigo is the automated way to keep track of what everyone is working on.</p> -->
				</div> <!-- /.section-header -->
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
	<div class="team-members">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/app1.jpg" alt="">
							<!-- <span class="member-role">预约用车</span> -->
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/app2.jpg" alt="">
							<!-- <span class="member-role">解锁用车</span> -->
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->
				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/app3.jpg" alt="">
							<!-- <span class="member-role">结束用车r</span> -->
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-3 col-sm-3">
					<div class="team-member">
						<div class="thumb-post">
							<img src="__FRONT__/images/includes/app4.jpg" alt="">
							<!-- <span class="member-role">保留用车</span> -->
						</div>
					</div> <!-- /.team-member -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.team-members -->
</section> <!-- /.our-team -->

<br />
<br />
{include file='public/footer'/}