
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="{:url('index/index')}">首页</a></li>
							<li><a href="{:url('index/product')}">产品介绍</a></li>
							<li><a href="{:url('index/download')}">下载APP</a></li>
							<li><a href="{:url('index/about')}">关于我们</a></li>
							<li><a href="{:url('index/contact')}">联系我们</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; SHANGHAI JINYUANBAO TECHNOLOGY CO,LTD.
                    	上海金元宝网络科技有限公司</p>
                    <p class="copyright-text">沪ICP备 00000000号&nbsp;&nbsp;&nbsp;&nbsp;400-000-8888 &nbsp;&nbsp;&nbsp;&nbsp;工作时间：周一至周五：6:30-22:30</p>	
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="__FRONT__/js/min/plugins.min.js"></script>
	<script src="__FRONT__/js/min/medigo-custom.min.js"></script>
	<script src="__FRONT__/js/jquery.validate.min.js"></script>
	<script src="__FRONT__/js/jquery.form.js"></script>
	<script src="__FRONT__/js/jquery.md5.js"></script>
</body>
</html>